language: php
php:
  - '7.0'
  - hhvm
  - nightly
matrix:
  allow_failures:
    - hhvm
install: composer install -o --no-interaction
script: vendor/bin/phpunit --bootstrap vendor/autoload.php --coverage-clover=coverage.xml
after_success:
    - bash <(curl -s https://codecov.io/bash)
