{
    "timeout": 30,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.build.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
