{
    "timeout": 30,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "/RouteStrategyFactory\\.php/"
        ]
    },
    "logs": {
        "text": "infection.build.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "@number": false
    }
}
